.App {
  text-align: center;
}
.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 30px;
}
.img {
  height: 200px;
}
.card {
  height: 550px;
  width: 300px;
  margin: 30px;
}

.card:hover {
  box-shadow: 10px 10px 26px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 26px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px -3px rgba(0, 0, 0, 0.75);
}

.desc {
  display: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-btn {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
  margin-top: 20px;
}

.add-btn:hover,
:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}
